li
{
	list-style-type: decimal;
	margin: 10px;
}

#table-contents
{
	background-color: #dcdbdb;
	border-radius: 20px;
	padding: 10px;
	margin: 20px;
}

#title
{
	font-size: 23px;
	display: block;
	margin: 10px;
}