html, body
{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

.user-login
{
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  max-width: 105px;
  display: inline-block;
  white-space: nowrap;
}

/*p
{
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}*/

input
{
	box-sizing: border-box;
}

.social-links
{
	display: flex;
}

.unselectable
{
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

input[type=number]
{
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-overflow
{
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: inline-block;
  white-space: nowrap;
}

.dark-gray
{
	color: #343434;
}

.article-subject
{
	font-size: 32px;
	float: left;
	margin: 10px 0px 10px 0px;
}

.pointer
{
	cursor: pointer;
}

#middle-wrapper
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

*
{
	word-wrap: break-word;
}

.main-heading
{
	text-align: center;
}

ul
{
	margin: 0px;
	padding: 0px;
}

input[type="submit"]
{
	outline: none;
	border: none;
}

a
{
	text-decoration: none;
}

.low-width
{
	display: none;
}

textarea
{
	max-width: 100%;
	max-height: 80%;
}

#article-content-input:focus, #article-description-input:focus
{
	outline: none;
	border-color: #e06149;
}

.heading
{
	color: #232323;
	font-weight: bold;
}

.light-gray
{
	color: #8e8e8e;
}

.frame-text
{
	border: 2px solid #9a9a9a;
	padding: 5px 7px;
	position: absolute;
	background-color: #343434;
	color: #ffffff;
	top: 15px;
	right: 20px;
	border-radius: 8px;
}

.info-text
{
	padding: 0px 0px 0px 20px;
}

.light-red
{
	color: #E06149;
}

.test
{
	background-color: red;
}

#global-container
{
	width: 100%;
	margin: 15px 0px;
	flex: 1 0 auto;
}

#inline-global-container
{
	margin: auto;
	display: flex;
	justify-content: space-around;
	width: 60%;
	max-width: 1200px;
}

/*header, footer, #inline-global-container, .container, #caption, #global-container
{
	min-width: 1164px;
}*/

header, footer
{
	background-color: #343434;
}

body
{
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
}

.hidden
{
	display: none;
}

.menu ul li
{
	display: inline-block;
	list-style-type: none;
}

#sidebar-wrapper ul li
{
	list-style-type: none;
	white-space: nowrap;
}

img
{
	image-rendering: optimizeQuality;
}

#article-content-input, #article-description-input
{
	border-radius: 12px;
	margin: 20px 0px;
	font-size: 24px;
	border: 1px solid #343434;
	padding: 20px;
	font-size: 18pt;
}

#article-description-input
{
	width: 856px;
	height: 184px;
}

#article-content-input
{
	width: 856px;
	height: 409px;
}

.top-page
{
	color: #5f5f5f;;
	text-decoration: none;
}

#top-list
{
	margin-top: -7px;
	margin-left: 20px;
	align-self: start;
	text-align: center;
}

#top-list
{
	margin: 0px;
}

#top-list li
{
	margin: 10px;
	text-align: center;

}

.wrapper
{
	color: white;
	display: flex;
	justify-content: center;
}

header
{
	height: 80px;
}

footer
{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 288px;
	bottom: 0px;
	align-items: center;
	flex-shrink: 0;
}

#title-wrap
{
	background-color: #ffffff;
	border-bottom: 2px solid #ebebeb;
	padding: 10px;
	display: flex;
	justify-content: center;
}

#inner-title-wrap
{
	width: 80%;
}

.title-link
{
	font-size: 32px;
	padding: 10px;
	margin: 10px;
	color: #ffffff;
}

.social-button
{
	color: #e06149;
	font-size: 40px;
	margin: 10px 30px;
}

.logo-wrap img
{
	display: block;
}

.logo-wrap
{
	color: #9A9A9A;
}

.logo-wrap
{
	height: 80px;
	text-align: center;
}

.logo-wrap img
{
	height: 100%;
    object-fit: contain;
}

.white-button, .red-button, .dark-button
{
	padding: 10px 20px;
	text-align: center;
	margin: 10px;
	border-radius: 7px;
	color: red;

}

.white-button
{
	color: #333333;
	background-color: #ffffff;
	border: 1px solid #ffffff;
}

.red-button
{
	color: #ffffff;
	background-color: #e06149;
}

.dark-button
{
	color: #ffffff;
	background-color: #343434;
	border: 1px solid #ffffff;
}

.container
{
	display: flex;
	justify-content: space-evenly;
	vertical-align: center;
	flex-direction: row;
	align-items: center;
	width: 80%;
}

#caption
{
	background-color: #ffffff;
	border: 1px solid #ebebeb;
	padding: 8px 0px;
	display: flex;
	justify-content: center;
}

#caption span
{
	font-size: 22px;
	color: #343434;
}

#content-wrapper
{
	width: 70%;
	float: left;

}

#sidebar-wrapper
{
	display: flex;
	flex-direction: column;
	width: 21%;
	float: right;
	align-items: center;
}

.out-button
{
	box-sizing: border-box;
	text-align: center;
	padding: 14px 20px;
	width: 100%;
	color: #ffffff;
	background-color: #e06149;
	font-size: 22px;
	text-decoration: none;
	border-radius: 5px;
	margin: 10px;
}

input[type="file"]
{
	display: none;
}

.dark-top-border
{
	border-top: 3px solid #5f5f5f;
}

.dark-botton-border
{
	border-bottom: 3px solid #5f5f5f;
}



.shadow
{
	box-shadow:0 1px 7px #9a9a9a;
	-webkit-box-shadow:0 1px 7px #9a9a9a;
	-moz-box-shadow:0 1px 7px #9a9a9a;
}

.footer-content-container
{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	margin: 0px 50px;
}

/*Article styles*/
.single-announcement
{
	display: flex;
	float: left;
	padding: 20px;
	height: 244px;
	background-color: #ffffff;
	margin: 10px 0px;
	position: relative;
	width:91%;
}

.image-announcement
{
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	position: relative;
	max-width: 320px;
}

.image-announcement img
{
	max-width: 320px;
	max-height: 100%;
	width: 95%;
	height: auto;
}

.content-announcement
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	width: 70%;
	float: right;
	padding: 10px;

}

.content-announcement p
{
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
 	line-height: 1.3em;

}

#auth
{
	display: flex;
	justify-content: space-around;
}

.author-date-wrap
{
	float: left;
}

.views-comments-wrap
{
	float: right;
}

.red-shadow
{
	-webkit-box-shadow:4px 6px 10px rgba(241,106,81,.4);
	box-shadow:4px 6px 10px rgba(241,106,81,.4);
}


.author-date-wrap a, .statistics-element
{
	text-decoration: none;
	color: #8e8e8e;
}

#content
{
	display: block;
	margin: 20px 0px;
}

#selected_filename
{
	margin: 0px 0px 25px 0px;
}

.statistics-element
{
	margin-right: 10px;
}

.statistics-announcement
{
	position: relative;
}

.title-announcement
{
	text-decoration: none;
	color: #000000;
}

/*Focus*/
.article-content-input:focus
{
	outline: none;
	border-color: #e06149;
}

/*Hover effects*/
.underline-effect:hover, .top-page:hover
{
	text-decoration: underline;
}

.social-button:hover
{
	transition: 0.1s linear;
	transform: translateY(-10px);
}

.purple-button-effect:hover
{
	transition: 0.3s;
	background-color: #b761f2;
}

.dark-button-effect:hover
{
	transition: 0.3s linear;
	background-color: #343434;
	color: white;
}

.scale-effect:hover
{
	transition: 0.1s linear;
	transform: scale(1.03);
}

.image-announcement:hover img
{
	transition: 0.1s linear;
	box-shadow:0 1px 7px #9a9a9a;
	-webkit-box-shadow:0 1px 7px #9a9a9a;
	-moz-box-shadow:0 1px 7px #9a9a9a;
}

.opacity-effect:hover
{
	transition: 0.3s;
	opacity: 0.5;
}

.purple-button-effect:not(hover), .dark-button-effect:not(hover), .dark-text-effect:not(hover), .opacity-effect:not(hover)
{
	transition: 0.3s linear;
}

.social-button:not(hover), .scale-effect:not(hover), .image-announcement:not(hover) img
{
	transition: 0.1s linear;
}